@font-face {
    font-family: GothamLight;
    src: url("/fonts/gothamlight.ttf") format("truetype");
}

@font-face {
    font-family: GothamBold;
    src: url("/fonts/gothambold.ttf") format("truetype");
}

@font-face {
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    src: local('Fjalla One'), local('FjallaOne-Regular'), url(https://fonts.gstatic.com/s/fjallaone/v5/Yq6R-LCAWCX3-6Ky7FAFrOF6kg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html, body {
    margin: 0px;
    padding: 0px;
    font-family: GothamLight!important;
}

.clear {
    clear: both;
}

h1 {
    font-family: GothamBold;
}


[class^="hvr-"] {
    margin: .4em;
    padding: 15px 40px;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #000000;
    color: #666;
    text-decoration: none!important;
    font-weight: bold;
}

/* Bounce To Right */
.hvr-bounce-to-right {
    display: inline-block;
    background: #FFF;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.hvr-bounce-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000 ;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {
    color: white;
}
.hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}














.main-section {
    position: relative;
    height: 100vh;
    width: 100%;
    color: #FFF;
    overflow: hidden;
}

.main-section.main-section-offhome {
    height: auto;
    background-color: #26262a;
}

.main-section .my-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: grayscale(75%);
    background-size: cover;
    background-position: 50% 50%;
    animation-name: slow-zoom;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes slow-zoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}


.top-bar {
    padding-top: 20px;
    margin: 0px!important;
}

.top-bar .logo {
    padding-left: 50px;
}

.top-bar .logo a {
    color: #FFF;
    text-decoration: none;
}

.top-bar .logo h1 {
    font-size: 50px;
}

.top-bar .logo span {
    font-size: 25px;
    vertical-align: middle;
}

.top-bar .navigation {
    padding-right: 50px;
}

nav.navigation {

}


nav.navigation .language {
    padding: 0px;
}

nav.navigation ul {
    float: right;
    margin: 0px;
    padding: 0px;
    padding-top: 15px;
}

nav.navigation ul li {
    display: inline-block;
}

nav.navigation ul li a {
    display: inline-block;
    padding: 0px 20px;
    color: #FFF;
    text-decoration: none;
    opacity: 0.5;
    font-size: 18px;
    transition: .25s all linear;
}

nav.navigation ul li a:hover {
    opacity: 1;
}

nav.navigation ul li a.active {
    opacity: 1;
    border-bottom: 1px solid #fff;
}

nav.navigation .lang-ul {
    padding-left: 100px;
}

nav.navigation .lang-ul li a {
    padding: 0px 2px;
}


.main-section .main-quote {
    position: absolute;
    top: 60%;
    width: 100%;
    text-align: center;
}


.main-section .main-quote h1 {
    font-size: 80px;
    opacity: 0;
    font-family: 'Fjalla One', sans-serif;
    text-shadow: #533d4a 1px 1px, #533d4a 2px 2px, #533d4a 3px 3px, #533d4a 4px 4px, #533d4a 5px 5px, #533d4a 6px 6px;
}

.main-section .main-quote h1.first {
    color: #e55643;
    transform: rotate(-10deg) skew(-10deg);
}
.main-section .main-quote h1.second {
    color: #2b9f5e;
}
.main-section .main-quote h1.third {
    color: #f1c83c;
    transform: rotate(6deg) skew(6deg);
}




.base-section {
    width: 100%;
    padding: 75px 20px;
    text-align: center;
    color: #000000;
}

.base-section .inner {
    max-width: 1000px;
    margin: 0 auto;
}

.base-section-dark {
    background-color: #edeeef;
}

.base-section h1 {
    padding-bottom: 30px;
}

.base-section p {

}

.base-section a {
    display: inline-block;
    margin-top: 30px;
}

.gallery-wrapper {
    display: inline-block;
    width: 100%;
    padding-left: 10px;
    text-align: center;
}

.gallery-box {
    float: left;
    background-color: grey;
    width: calc(25% - 10px);
    height: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
}


















section.footer {
    background-color: #26262a;
}

section.footer .footer-inner {
    max-width: 1000px;
    padding: 50px 20px;
    text-align: center;
    margin: 0 auto;
    color: #FFF;
}

section.footer .footer-inner h1 {
    padding-bottom: 40px;
    font-style: italic;
}

section.footer .footer-inner  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

section.footer .footer-inner li {
    display: inline-block;
}

section.footer .footer-inner .menu-review {
    margin-bottom: 14px;
}

section.footer .footer-inner .menu-review li {
    padding: 0px 10px;
}

section.footer .footer-inner .menu-review li a {
    color: #FFF;
    font-size: 18px;
}

section.footer .footer-inner .social-icons li {
    padding: 0px 10px;
}

section.footer .footer-inner .social-icons li a {
    color: #FFF;
    font-size: 32px;
}



section.contact {
    min-height: 75vh;
}

section.contact form {
    width: 75%;
    margin: 0 auto;
    text-align: left;
}

section.contact label {
    text-align: left;
}

section.contact input {
    padding: 12px 12px;
}