@media (max-width: 1000px) {

    .gallery-box {
        width: calc(50% - 10px);
        height: 300px;
    }

}

@media (max-width: 800px) {

    .gallery-box {
        width: calc(100% - 10px);
        height: 300px;
    }

    section.contact form {
        width: 100%;
    }

    h1 {
        font-size: 30px;
    }

}


@media (max-width: 550px) {

    h1 {
        font-size: 26px;
    }

}